@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";

html, body {
    margin: 0;
}

.SceneContainer {
    position: relative;
}

.MultiSceneContainer {
    display: flex;
    justify-content: space-between;
}

.SceneDry {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    font-size: 50px;

    display: none;

    &.is-dry {
        display: block;
    }
}

.CameraFlatControl {
    cursor: crosshair;
    margin: 20px;
}

.Camera3DControl {
    margin: 20px 0;
}

.CameraControl {
    display: flex;
}

#debug {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 24px;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    min-width: 180px;
    white-space: pre;
    text-align: right;
    display: none;

    &.visible {
        display: block;
    }
}
